@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
.font-cute {
  font-family: 'Kalam', cursive;
}
.active-song {
  position: relative;
  overflow: hidden;
  background-color: #88e58b;  
  height: 100px;  
}

.active-song::before,
.active-song::after {
  content: '';
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background-color: #FCFFF5;  
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.active-song::before {
  bottom: 15vh;
  border-radius: 45%;
  animation-duration: 10s;
}

.active-song::after {
  bottom: 12vh;
  opacity: 0.5;
  border-radius: 47%;
  animation-duration: 10s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, 0) rotateZ(0deg);
  }
  50% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, 0%) rotateZ(360deg);
  }
}

.active-song::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 300vw;  
  height: 300vw;  
  min-width: 300vw; 
  min-height: 300vw;  
  background-color: #FCFFF5;  
  border-radius: 45%;  
  opacity: 0.5; 
  transform: translateX(-50%);
  animation: wave 8s linear infinite;  
}

@keyframes wave {
  0% {
    transform: translate(-50%, -1%) rotateZ(0deg);
  }
  25% {
    transform: translate(-50%, -2%) rotateZ(180deg);
  }
  50% {
    transform: translate(-50%, -3%) rotateZ(360deg);
  }
  75% {
    transform: translate(-50%, -4%) rotateZ(180deg);
  }
  100% {
    transform: translate(-50%, -1%) rotateZ(360deg);
  }
}

.player-expanded {
  height: 100vh;
}

.player-collapsed {
  height: 100px; 
}

.player-dragging {
  transition: none;
}

.border {
  border: 3px solid #ce0202;
  border-radius: 10px;
  animation: borderAnimation 2s infinite ease-in-out;
  transition: all 0.3s ease;
}

.border2 {
  border: 3px solid #88e58bd1;
  border-radius: 10px;
  
 
}

@keyframes borderAnimation {
  0% {
    border-color: #88e58bd1;
    border-radius: 10px;
    
    box-shadow: 0 0 5px rgba(136, 229, 139, 0.5);
  }
  25% {
    border-color: #ffed4cce;
    border-radius: 30px;
  
    box-shadow: 0 0 10px rgba(255, 237, 76, 0.7);
  }
  50% {
    border-color: #02ce5f;
    border-radius: 5px;
    
    box-shadow: 0 0 15px rgba(2, 206, 95, 0.6);
  }
  75% {
    border-color: #0288ce;
    border-radius: 20px;
 
    box-shadow: 0 0 10px rgba(2, 136, 206, 0.7);
  }
  100% {
    border-color: #ce0202b9;
    border-radius: 10px;
    
    box-shadow: 0 0 5px rgba(206, 2, 2, 0.5);
  }
}

/* Optional hover effect */
.border:hover {
  animation-play-state: paused;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}